[user]
  name = Raphaël Proust
  email = raphlalou@gmail.com

[diff]
  tool = fugitive

[difftool "fugitive"]
  cmd = "vim -f $REMOTE -c 'Gdiff'"

[merge]
  tool = splice

[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[alias]
	co = commit
	st = status
