[user]
  name = Raphaël Proust
  email = code@bnwr.net

[color]
  ui = no

[core]
  pager = cat

[alias]
  co = commit
  st = status -b --short
  lg = !sh -c 'git log "HEAD~$0..HEAD"'
  root = !pwd
  psh = push --quiet
  pll = pull --quiet
  cln = clone --quiet
[push]
	default = simple

[status]
	showUntrackedFiles = no
[transfer]
	fsckObjects = true
