download_rate = 0
upload_rate = 0

directory = $HOME/dls
session = $HOME/.rtorrentsession
schedule = watch_directory,5,5,load_start=$HOME/torrents/*.torrent

ip = 127.0.0.1
#bind = 127.0.0.1

#port_range = 6890-6999
port_random = yes
use_udp_trackers = yes
dht = auto
peer_exchange = yes
